@model BismillahGraphic.DataCore.SellingReceipt
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section Styles{
    <link href="~/CSS/selling-receipt.css" rel="stylesheet" />
}

<section class="my-4 d-print-none">
    <div class="d-flex justify-content-between">
        <div>
            <a class="btn btn-success btn-rounded" href="/Selling/DueCollection/@Model.SellingInfo.SellingID"><i class="fas fa-money-bill-alt mr-1"></i>Pay Due</a>
            <a class="btn btn-discord btn-rounded" href="/Selling/Record"><i class="fas fa-shopping-bag mr-1"></i>Selling Record</a>
        </div>
        <div>
            <a class="btn btn-elegant btn-rounded" href="/Selling/Selling"><i class="fas fa-shopping-cart mr-1"></i>Sell</a>
            <button class="btn btn-default btn-rounded" onclick="print()"><i class="fas fa-print mr-1"></i>Print</button>
        </div>
    </div>
</section>


<div id="main-page">
    <div class="shop-info">
        <div class="name-logo">
            <img src="data:image;base64,@Convert.ToBase64String(Model.InstitutionInfo.InstitutionLogo)" alt="" />
            <h2>@Model.InstitutionInfo.InstitutionName</h2>
        </div>

        <div class="address-bar">
            <p>
                <i class="fas fa-map-marker-alt"></i>
                @Model.InstitutionInfo.Address
            </p>
            <p>
                <i class="fas fa-globe"></i>
                @Model.InstitutionInfo.Website,
                <i class="fas fa-at"></i>
                @Model.InstitutionInfo.Email,
                <i class="fas fa-phone"></i>
                @Model.InstitutionInfo.Phone
            </p>
        </div>
    </div>

    <div class="row my-2 receipt-info align-items-center">
        <div class="col">
            <span>RECEIPT# @Model.SellingInfo.SellingSN</span>
        </div>
        <div class="col">
            <div class="invice-title">INVOICE</div>
        </div>
        <div class="col text-right">
            <span>Date: @Model.SellingInfo.SellingDate.ToString("d MMM yyyy")</span>
        </div>
    </div>

    <div class="row mb-1" id="vendor-area">
        <div class="col-7">
            <h5><strong>@Model.VendorInfo.VendorCompanyName</strong></h5>
            <h5><strong>@Model.VendorInfo.VendorName</strong></h5>
        </div>
        <div class="col text-right">
            @if (!string.IsNullOrEmpty(Model.VendorInfo.VendorAddress))
            {
                <h5><strong>@Model.VendorInfo.VendorAddress</strong></h5>
            }
            <h5><strong>@Model.VendorInfo.VendorPhone</strong></h5>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th class="text-center"><strong>No.</strong></th>
                <th><strong>Description</strong></th>
                <th class="text-center"><strong>Square&nbsp;Inch</strong></th>
                <th class="text-right"><strong>Unit&nbsp;Price</strong></th>
                <th class="text-right"><strong>Line&nbsp;Total</strong></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 0;
                foreach (var item in Model.SellingInfo.SellingList)
                {
                    index++;
                    <tr>
                        <td class="text-center">@index</td>
                        <td>
                            @item.Product.ProductName-
                            @item.Details
                        </td>
                        <td class="text-center">@item.SellingQuantity</td>
                        <td class="text-right">@item.SellingUnitPrice/-</td>
                        <td class="text-right">@item.SellingPrice/-</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="3">
                    <span id="amount-word"></span>
                </td>
                <td colspan="2">
                    <div class="text-right">
                        <h5>Total: <strong>@Model.SellingInfo.SellingTotalPrice/-</strong></h5>
                        @{
                            var discount = Model.SellingInfo.SellingDiscountAmount;

                            if (discount > 0)
                            {
                                <h5>Discount: <strong>@Model.SellingInfo.SellingDiscountAmount/-</strong></h5>
                            }
                        }

                        <h5>Paid: <strong> @Model.SellingInfo.SellingPaidAmount/-</strong></h5>
                        <h5>Due: <strong>@Model.SellingInfo.SellingDueAmount/-</strong></h5>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center d-print-none mt-3">
        <button id="btnBlockReadySendSMS" @(Model.VendorInfo.SmsNumber.IsEmpty() ? "disabled='disabled'" : "") data-number="@Model.VendorInfo.SmsNumber" class="btn btn-outline-primary"><i class="fas fa-paper-plane mr-1"></i>Send Block Ready SMS</button>
        <div class="text-center">
            <h5 id="smsBalance" class="font-weight-bold"></h5>
            <em class="m-0 text-muted">SMS Number: @(Model.VendorInfo.SmsNumber.IsEmpty() ? "N/A" : Model.VendorInfo.SmsNumber)</em>
        </div>
        <button id="btnSendPaymentSMS" @(Model.VendorInfo.SmsNumber.IsEmpty() ? "disabled='disabled'" : "") data-number="@Model.VendorInfo.SmsNumber" class="btn btn-outline-danger"><i class="fas fa-paper-plane mr-1"></i>Send Payment Status</button>
    </div>

    <div class="d-print-none">
        @{
            var paymentRecord = Model.SellingInfo.SellingPaymentRecord;

            if (paymentRecord.Count > 0)
            {
                <h5 class="mt-4">PAYMENT RECORD</h5>
                <table>
                    <thead>
                        <tr>
                            <th><strong>Paid Date</strong></th>
                            <th><strong>Paid Amount</strong></th>
                            <th><strong>Payment Method</strong></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in paymentRecord)
                        {
                            <tr>
                                <td>@item.SellingPaid_Date.ToString("d MMM yyyy")</td>
                                <td class="text-right">@item.SellingPaidAmount/-</td>
                                <td class="text-center">@item.Payment_Situation</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        }
    </div>

    <div class="p-footer">
        <div class="row">
            <div class="col">
                Received By
                <small class="d-block text-muted">@DateTime.Now.ToString("ddd, dd-MMM-yyyy (hh: mm tt)")</small>
            </div>

            <div class="col text-right">
                For: @Model.InstitutionInfo.InstitutionName
                <small class="d-block text-muted">Served By: <strong>@Model.SoildBy</strong></small>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function() {
            $("#amount-word").text(`Taka (in words): ${number2text(@Model.SellingInfo.SellingTotalPrice)}`);
            getSMSBalance();
        });

        //SMS balance
        function getSMSBalance() {
            const balance = document.getElementById('smsBalance');
            balance.textContent = "loading.."
            $.ajax({
                url: '/SMS/SmsBalance',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    balance.textContent = `Remaining SMS: ${response}`;
                },
                error: error => console.log(error)
            });
        }

        //amount in word
        function number2text(value) {
            const fraction = Math.round((value % 1) * 100);
            var fullText = "";

            if (fraction > 0) {
                fullText = `AND ${convertNumber(fraction)} PAISA`;
            }

            return convertNumber(value) + " TK " + fullText + " ONLY";
        }

        function convertNumber(number) {
            if ((number < 0) || (number > 999999999)) return "NUMBER OUT OF RANGE!";

            var coreAmount = Math.floor(number / 10000000);
            number -= coreAmount * 10000000;

            var lakhAmount = Math.floor(number / 100000);
            number -= lakhAmount * 100000;

            var thousandAmount = Math.floor(number / 1000);
            number -= thousandAmount * 1000;

            var hundredAmount = Math.floor(number / 100);
            number = number % 100;

            var tn = Math.floor(number / 10);
            var one = Math.floor(number % 10);
            var res = "";

            if (coreAmount > 0) {
                res += (convertNumber(coreAmount) + " CRORE");
            }
            if (lakhAmount > 0) {
                res += (((res === "") ? "" : " ") + convertNumber(lakhAmount) + " LAKH");
            }
            if (thousandAmount > 0) {
                res += (((res === "") ? "" : " ") + convertNumber(thousandAmount) + " THOUSAND");
            }

            if (hundredAmount) {
                res += (((res === "") ? "" : " ") + convertNumber(hundredAmount) + " HUNDRED");
            }


            var ones = Array("", "ONE", "TWO", "THREE", "FOUR", "FIVE", "SIX", "SEVEN", "EIGHT", "NINE", "TEN", "ELEVEN", "TWELVE", "THIRTEEN", "FOURTEEN", "FIFTEEN", "SIXTEEN", "SEVENTEEN", "EIGHTEEN", "NINETEEN");
            var tens = Array("", "", "TWENTY", "THIRTY", "FORTY", "FIFTY", "SIXTY", "SEVENTY", "EIGHTY", "NINETY");

            if (tn > 0 || one > 0) {
                if (!(res === "")) {
                    res += " AND ";
                }

                if (tn < 2) {
                    res += ones[tn * 10 + one];
                } else {
                    res += tens[tn];
                    if (one > 0) {
                        res += (`-${ones[one]}`);
                    }
                }
            }

            if (res === "") {
                res = "zero";
            }
            return res;
        }


        //send SMS
        const btnBlockReadySendSMS = document.getElementById('btnBlockReadySendSMS');
        const btnSendPaymentSMS = document.getElementById('btnSendPaymentSMS');

        //block ready event
        btnBlockReadySendSMS.addEventListener('click', function() {
            const number = this.getAttribute('data-number');
            if (!number) return;

            const text = `Dear Valued Customer, Your Block is Ready For Delivery Please Collect. Bill Amount TK: @Model.SellingInfo.SellingTotalPrice Thanks Bismillah Graphic. Zirabo MD:HAZRAT ALI, 01712-676781`;
            const model = { PhoneNumber: number, TextSMS: text };

            send(model);
        });

        //payment status
        btnSendPaymentSMS.addEventListener('click', function() {
            const number = this.getAttribute('data-number');
            if (!number) return;

            const paidAmount = @Model.SellingInfo.SellingPaidAmount;
            const dueAmount = @Model.SellingInfo.SellingDueAmount;

            const paid = paidAmount ? ` Paid Amount Tk: ${paidAmount}. ` : "";
            const due = dueAmount ? ` Due Amount Tk: ${dueAmount}, please pay dues. ` : "";

            const text = `Dear Valued Customer, Your Order Amount Tk: @Model.SellingInfo.SellingTotalPrice.${paid}${due}Thanks Bismillah Graphic. 01712-676781`;
            const model = { PhoneNumber: number, TextSMS: text };

            send(model);
        });

        //send to server
        function send(model) {
            $.ajax({
                url: '/SMS/SingleSMS',
                type: "POST",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    location.href = "/Selling/Selling";
                },
                error: error => console.log(error)
            });
        }
    </script>
}

