@model BismillahGraphic.DataCore.DailyCashClass
@{
    ViewBag.Title = "Daily Cash Report";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid mt-2">
    <div class="row mb-4">
        <div class="col-lg-5">
            <h3 class="h3-responsive">Daily Cash Report</h3>
        </div>
        
        <div class="col-lg-7 d-print-none">
            <div class="form-inline justify-content-end">
                <div class="md-form m-0">
                    <form action="/Report/DailyCashReport" method="post">
                        <input id="formDate" name="date" value="@ViewBag.date" class="form-control datepicker" placeholder="Form Date" type="text" />
                        <button id="find" class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card mt-3">
                <div class="">
                    <i class="far fa-money-bill-alt fa-lg primary-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                    <div class="float-right text-right p-3">
                        <p class="text-uppercase text-muted mb-1"><small>INCOME</small></p>
                        <h4 class="font-weight-bold mb-0">@Model.Income.ToString("N")</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card mt-3">
                <div class="">
                    <i class="fas fa-chart-line fa-lg teal z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                    <div class="float-right text-right p-3">
                        <p class="text-uppercase text-muted mb-1"><small>EXPENSE</small></p>
                        <h4 class="font-weight-bold mb-0">@Model.Expense.ToString("N")</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card mt-3">
                <div class="">
                    <i class="fas fa-chart-pie fa-lg purple z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                    <div class="float-right text-right p-3">
                        <p class="text-uppercase text-muted mb-1"><small>NET</small></p>
                        <h4 class="font-weight-bold mb-0 @(@Model.Net < 0 ?"text-danger":"")">@Model.Net.ToString("N")</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="my-4 font-weight-bold">Income Details</h4>
    <div class="card card-body">
        <table class="DataTable table table-bordered table-sm text-center">
            <thead>
            <tr>
                <th><strong>Date</strong></th>
                <th><strong>Bill No</strong></th>
                <th><strong>Vendor</strong></th>
                <th><strong>Received</strong></th>
                <th><strong>P.Method</strong></th>
                <th><strong>Received By</strong></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var income in Model.IncomeRecords)
                {
                    <tr>
                        <td>@income.SellingPaid_Date.ToString("d MMM yyyy")</td>
                        <td>
                            <a target="_blank" class="blue-text" href="/Selling/Receipt/@income.SellingID">@income.SellingSN</a>
                        </td>
                        <td>@income.VendorCompanyName</td>
                        <td class="text-right">@income.SellingPaidAmount.ToString("N")</td>
                        <td>@income.Payment_Situation</td>
                        <td>@income.ReceivedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h4 class="mb-4 mt-5 font-weight-bold">Expense Details</h4>
    <div class="card card-body">
        <table class="DataTable table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th><strong>Category</strong></th>
                    <th><strong>Expense For</strong></th>
                    <th class="text-right"><strong>Amount</strong></th>
                    <th><strong>Date</strong></th>
                    <th><strong>P.Method</strong></th>
                </tr>
            </thead>
            @foreach (var expense in Model.ExpanseRecords)
            {
                <tr>
                    <td>@expense.CategoryName</td>
                    <td>@expense.ExpanseFor</td>
                    <td class="text-right">@expense.ExpanseAmount.ToString("N")</td>
                    <td>@expense.ExpanseDate.ToString("d MMM yyyy")</td>
                    <td>@expense.Expense_Payment_Method</td>
                </tr>
            }
        </table>  
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('.datepicker').pickadate();
        });
    </script>
}